<button mdc-button primary>Primary Color</button>

<button mdc-button secondary>Secondary Color</button>

<h3>Raised Buttons</h3>
<div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
</div>

<mdc-checkbox></mdc-checkbox>

<mdc-checkbox checked></mdc-checkbox>

<mdc-checkbox disabled></mdc-checkbox>

<mdc-checkbox checked disabled></mdc-checkbox>

<mdc-checkbox indeterminate></mdc-checkbox>

<mdc-checkbox indeterminate indeterminateToChecked="false"></mdc-checkbox>
