/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$mdc-theme-primary: #673ab7;
$mdc-theme-secondary: #ffd740;
$mdc-theme-warning: #f44336;

@import '~@angular-mdc/theme/material';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
